<table id="order_table" class="table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Id Pedido</th>
      <th>Name</th>
      <th>Data Pedido</th>
      <th>Status pedido</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>CEP</th>
      <th>Mensagem WhatsApp PC</th>
      <th>Mensagem WhatsApp Celular</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.numero %></td>
        <td><%= order.cliente_razaosocial %></td>
        <td><%= order.data_pedido.strftime("%-d/%-m/%Y %H:%M") %></td>
        <td>1<%#= @status_code.key(order.order_status)%></td>
        <td><%= order.cliente_telefone %></td>
        <td><%= order.cliente_email %></td>
        <td><%= order.cliente_cep %></td>
        <td><a href="https://web.whatsapp.com/send?phone=55<%= order.cliente_telefone.delete'() ' %>&amp;text=Olá <%= order.cliente_razaosocial.split(" ").first %>, sou a Nicoly da Purchase e recebemos o teu pedido <%= order.numero %>, gostaria de saber se deu tudo certo com a criação do seu pedido e se ficou alguma dúvida para prosseguir? Foi liberado um prazo para efetuar o pagamento deste pedido até sexta-feira(07/10/22). Não perca nossa promo!🥰😍😘😘😘" target="_blank">Clique Aqui para mandar uma mensagem pelo WhatsApp</a></td>
        <td><a href="https://api.whatsapp.com/send?phone=55<%= order.cliente_telefone.delete'() ' %>&amp;text=Olá <%= order.cliente_razaosocial.split(" ").first %>, sou a Nicoly da Purchase e recebemos o teu pedido <%= order.numero %>, gostaria de saber se deu tudo certo com a criação do seu pedido e se ficou alguma dúvida para prosseguir? Foi liberado um prazo para efetuar o pagamento deste pedido até sexta-feira(07/10/22). Não perca nossa promo!🥰😍😘😘😘" target="_blank">Clique Aqui para mandar uma mensagem pelo WhatsApp</a></td>        
      </tr>
    <% end %>
  </tbody>
</table>