<div id="<%= dom_id shopee_pay %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= shopee_pay.data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beneficiario:</strong>
    <%= shopee_pay.beneficiario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pagamento:</strong>
    <%= shopee_pay.pagamento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= shopee_pay.descricao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= shopee_pay.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Saldo carteira:</strong>
    <%= shopee_pay.saldo_carteira %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= shopee_pay.account %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this shopee pay", shopee_pay, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this shopee pay', edit_shopee_pay_path(shopee_pay), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
