<div id="<%= dom_id shopee_order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Id pedido:</strong>
    <%= shopee_order.id_pedido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status pedido:</strong>
    <%= shopee_order.status_pedido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cancelar motivo:</strong>
    <%= shopee_order.cancelar_motivo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status devolucao reembolso:</strong>
    <%= shopee_order.status_devolucao_reembolso %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero rastreamento:</strong>
    <%= shopee_order.numero_rastreamento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Opcao envio:</strong>
    <%= shopee_order.opcao_envio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Metodo envio:</strong>
    <%= shopee_order.metodo_envio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data prevista envio:</strong>
    <%= shopee_order.data_prevista_envio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tempo envio:</strong>
    <%= shopee_order.tempo_envio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data criacao pedido:</strong>
    <%= shopee_order.data_criacao_pedido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hora pagamento pedido:</strong>
    <%= shopee_order.hora_pagamento_pedido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero referência sku principal:</strong>
    <%= shopee_order.numero_referência_sku_principal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nome produto:</strong>
    <%= shopee_order.nome_produto %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero referencia sku:</strong>
    <%= shopee_order.numero_referencia_sku %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nome variacao:</strong>
    <%= shopee_order.nome_variacao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preco original:</strong>
    <%= shopee_order.preco_original %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preco acordado:</strong>
    <%= shopee_order.preco_acordado %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantidade:</strong>
    <%= shopee_order.quantidade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtotal produto:</strong>
    <%= shopee_order.subtotal_produto %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desconto vendedor:</strong>
    <%= shopee_order.desconto_vendedor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desconto vendedor 2:</strong>
    <%= shopee_order.desconto_vendedor_2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reembolso shopee:</strong>
    <%= shopee_order.reembolso_shopee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Peso total sku:</strong>
    <%= shopee_order.peso_total_sku %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero produtos pedidos:</strong>
    <%= shopee_order.numero_produtos_pedidos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Peso total pedido:</strong>
    <%= shopee_order.peso_total_pedido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo cupom:</strong>
    <%= shopee_order.codigo_cupom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cupom vendedor:</strong>
    <%= shopee_order.cupom_vendedor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seller absorbed coin cashback:</strong>
    <%= shopee_order.seller_absorbed_coin_cashback %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cupom shopee:</strong>
    <%= shopee_order.cupom_shopee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Indicador leve mais menos:</strong>
    <%= shopee_order.indicador_leve_mais_menos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desconto shopee leve mais menos:</strong>
    <%= shopee_order.desconto_shopee_leve_mais_menos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desconto leve mais menos vendedor:</strong>
    <%= shopee_order.desconto_leve_mais_menos_vendedor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Compensar moedas shopee:</strong>
    <%= shopee_order.compensar_moedas_shopee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total descontado cartao credito:</strong>
    <%= shopee_order.total_descontado_cartao_credito %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor total:</strong>
    <%= shopee_order.valor_total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Taxa envio pagas pelo comprador:</strong>
    <%= shopee_order.taxa_envio_pagas_pelo_comprador %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desconto frete aproximado:</strong>
    <%= shopee_order.desconto_frete_aproximado %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Taxa envio reversa:</strong>
    <%= shopee_order.taxa_envio_reversa %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Taxa transacao:</strong>
    <%= shopee_order.taxa_transacao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Taxa comissao:</strong>
    <%= shopee_order.taxa_comissao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Taxa servico:</strong>
    <%= shopee_order.taxa_servico %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total global:</strong>
    <%= shopee_order.total_global %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor estimado frete:</strong>
    <%= shopee_order.valor_estimado_frete %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nome usuário comprador:</strong>
    <%= shopee_order.nome_usuário_comprador %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nome destinatario:</strong>
    <%= shopee_order.nome_destinatario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= shopee_order.telefone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cpf comprador:</strong>
    <%= shopee_order.cpf_comprador %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Endereco entrega:</strong>
    <%= shopee_order.endereco_entrega %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade 1:</strong>
    <%= shopee_order.cidade_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bairro:</strong>
    <%= shopee_order.bairro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= shopee_order.cidade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Uf:</strong>
    <%= shopee_order.uf %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pais:</strong>
    <%= shopee_order.pais %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cep:</strong>
    <%= shopee_order.cep %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observacao comprador:</strong>
    <%= shopee_order.observacao_comprador %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hora completa pedido:</strong>
    <%= shopee_order.hora_completa_pedido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nota:</strong>
    <%= shopee_order.nota %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this shopee order", shopee_order, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this shopee order', edit_shopee_order_path(shopee_order), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
