<!DOCTYPE html>
<html>
  <head>
    <title>PurchaseData</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="flex">
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="<%= index_path %>">Estoque Negativo - Pedidos Pendentes</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="<%= stock_error_path %>">Estoque Errado</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="<%= all_stock_path %>">Todo Estoque</a>
    </li>
    <%
=begin%>
 <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/blazer/dashboards/1-vendas-simplo-7-2022">Vendas Simplo 7 - 2022</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/blazer/dashboards/2-dados-clientes">Dados Clientes - Simplo 7</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/blazer/dashboards/3-dados-sp-simplo-7">Dados Clientes SP - Simplo 7</a>
    </li> 
<%
=end%>
  </ul>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
